.has-tooltip {
  position: relative;
}

.has-tooltip:hover .status-tooltip {
  opacity: 1;
}

.status-tooltip {
  opacity: 0;
  transition: opacity ease .3s;
  pointer-events: none;
  position: absolute;
  left: 7px;
  top: -7px;
  transform: translate(-50%, -100%);
  background: black;
  border-radius: 3px;
  white-space: nowrap;
  color: #fff;
  padding: 3px 10px;
  font-size: 12px;
}

.status-tooltip pre {
  color: #fff;
  margin-bottom: 0;
}

.status-tooltip:after {
  content: '';
  display: block;
  border: solid;
  border-width: 6px 6px 0 6px;
  border-color: black transparent;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: -6px;
}

.result-table {
  border: 1px solid #e9ecef;
}

.result-row--summary:hover {
  cursor: pointer;
  background: rgba(0,0,0,.075);
}
